.menu{
list-style:none;
}

.menu li  ul{
position:absolute;
background-color:#fff;
display:none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
border:1px solid #ff9800;
display:block;
width:150px;
}
.fonte-cursive{
	font-family: 'Lobster', cursive;
}

.fonte-cor{
	color: white!important;
}

.botao-cor-especial{
	background-color: #FF8000!important;
	color: white!important;
}
.botao-cor-especial:hover{
	background-color: #4c79d3!important;
}
.tamanho-btn{
	width: 300px;
}

.width-cadastro{
	width: 75px;
}

.tamanhopadrao{
	width: 30%;
}
.botao{
	width: 250px; /* Defina a largura desejada */
	/*height: 50px;  Defina a altura desejada */
	display: inline-block;
}
.botaoGoogle{
	/*width: 250px; Defina a largura desejada */
	/*height: 50px;  Defina a altura desejada */
	display: inline-block;
	box-shadow: 0px 2px 8px  #000000;
	
}
.inputLogin{
	border: none;
	border-bottom:1px solid black;
	display: block;
	
}

i {
	margin-left: -25px;
	cursor: pointer;
  }
.background-login{
	background-color: #F7BE81;	
	   
}
.text-login{
	color:#ffffff;
    font-size: 18px;
    font-weight: 500;
	text-shadow: 2px 2px 4px #000000;
}
.background-form-login{
	width: 320px;
	background-color: #ffffff;
	box-shadow: 0px 2px 8px  #000000;
	   
}
.label-form-login{
	font-family: 'Lobster', cursive;
	text-shadow: 2px 2px 2px #FF8000;
}
.link-default{
    color: #FF8000;
    cursor: pointer;
}
.link-default:hover{
    color: #4c79d3;
}
.input-group-text {
	border: none; /* Remova a borda */
	background-color: transparent; /* Opcional: torne o fundo transparente para evitar qualquer outra aparência de borda */
  }
  .fonte-esqueciSenha{
	font-size: 12px;
  }
.input-buscarpromo{
	width: 80%;
	height: 35px;
	box-shadow: 0px 2px 2px  #000000;
	border: none;
	
}
.input-tam-pequeno{
	width: 500px;
}
.logout{
    min-width: 5rem !important;

}
.camera {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 400px; /* ou o valor desejado */
	height: 100%;
  }
  .drawingBuffer{
	width: 0%;
	height: 480px;
  }
  .promo{
	color: #FF8000;
  }
.cardIndex{
	height: 250px;
	max-width: 300px;
	border: none;
	box-shadow: 1px 5px 3px  lightslategray;
}
.botao-borda-especial{
	border: 1px solid #FF8000;
	border-radius: 10px;
	padding: 5px;
	color: #FF8000;
}
.footer {
    background-color: dimgray; /* Cor de fundo do seu footer */
    color: #fff; /* Cor do texto do footer */
    padding: 40px;
}

.circulo-footer {
    position: absolute;
    bottom: 20px;
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%);
    width: 100px; /* Largura do círculo */
    height: 100px; /* Altura do círculo */
    background-color: #fff; /* Cor de fundo do círculo */
    border-radius: 50%; /* Transforma o elemento em um círculo */
	
	
}
.iconePromo{
	position: absolute;
	bottom: -15px;
	left: 30%;
	font-size: 90px;
	color: #FF8000;
}
.content {
     /* Coloca o conteúdo do footer na frente do círculo */
    position: relative;
}